#Файлы и папки, которые будет игноривать Git
#Контроль версий можно использовать в том числе для дальнейшего сравнения текущей версии ядра сайта с идеальным

#Папка для загрузки файлов на сайт. Исключена по причине слишком большого размера и потому что туда заливается всякий "хлам"
upload/
#Служебная папка Git
.git/
#Кэш битрикса
#bitrix/managed_cache/
#папка ядра Битрикс
bitrix/