#Файлы и папки, которые будет игноривать Git
#Контроль версий можно использовать в том числе для дальнейшего сравнения текущей версии ядра сайта с идеальным

upload/ #Папка для загрузки файлов на сайт. Исключена по причине слишком большого размера и потому что туда заливается всякий "хлам"
.git/ #Служебная папка Git